.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
    }

    form {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(50px);
        padding: 30px;
        display: flex;
        box-shadow: 0 0 10px #008cb0;
        flex-direction: column;
        gap: 20px;
        max-width: 400px;
        width: 100%;
    }

    .form-group {
        width: 100%;
        margin-bottom: 10px;

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            font-size: 14px;
            font-weight: 300;
            color: #dddddd;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #008cb0;
            font-size: 16px;
            transition: border-color 0.2s ease, box-shadow 0.2s ease;
            background-color: rgba(255, 255, 255, 0);
            color: #dddddd;

            &:focus {
                outline: none;
                border: 1px solid #008cb0;
                box-shadow: 0 0 0 3px #008cb0;
            }
        }
    }

    button {
        width: 100%;
        padding: 12px 15px;
        background-color: #008cb0;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
            background-color: #008cb0;
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(0);
        }
    }

    p {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #dddddd;

        a {
            font-weight: 500;
            text-decoration: underline;
            color: #008cb0;
        }
    }
}